<!-- <div class="error-page">
    <div class="infos r{{settings._rotation}}" ng-show="settings._rotation">
        <div class="title">
            Error
        </div>
        <div class="code">
            000
        </div>
        <div class="description">
            <small><i>Please contact technical support.</i></small><br>
        </div>
    </div>
</div> -->

<div class="util-page error r{{settings._rotation}}" ng-show="{{typeof(settings._rotation) != 'undefined'}}">
    <div class="error">
        <div class="l1">Error</div>
        <div class="l2">Try to reboot Inovbox</div>
        <div class="l3">If the problem persists, contact technical support</div>
    </div>
</div>