<div class="util-page loading r{{settings._rotation}}" ng-show="{{typeof(settings._rotation) != 'undefined'}}">
        <div class="loading">
            <div class="l1" style="margin-top:900px;">Initializing...</div>
        </div>
    </div>