extends _layout
block styles
    link(rel="stylesheet",href="/css/pug.css")
block body
    div(class="col-md-6 col-md-offset-3 text-center")
        h1.text-center Inovbox Wifi
        h4.text-center Select your wifi network
        form(name="form-ssid" method="post" action="sendSsid")
            ul.list-group
                each network in networks
                    li.list-group-item
                        label
                            input(value=`${network.ssid}` class="radio-ssid" type="radio" name="ssid" onclick=`this.form.submit();`)
                            | #{network.ssid} (Signal : #{network.quality})
block scripts
    script(src="/js/pugSetInterval.js")