extends _layout
block styles
    link(rel="stylesheet",href="/css/pug.css")
block body
    div(class="col-md-6 col-md-offset-3 text-center")
        h1.text-center Inovbox Wifi
        h4.text-center Select your wifi network
        div.mt-100 Connecting...
        br
        i(class="fa fa-spinner fa-spin" )
block scripts
    script(src="/js/pug.js")