<!--<div class="error-page">
    <div class="infos r{{settings._rotation}}" ng-show="typeof settings._rotation != 'undefined'">
        <div class="title">
            Box not registered!
        </div>
        <div class="code">
            <span ng-if="mac">{{mac | uppercase}}</span>
            <span ng-if="!mac">No MAC address sent</span>
        </div>
        <div class="description">
            <br>
            <small><i>Please connect to this wifi network :</i></small><br>
        </div>
        <div class="description">
            <b>SSID:</b> {{settings._ssid}}
            <br> <b>Passphrase:</b> {{settings._passphrase}}
        </div>
    </div>
</div> -->

<div class="util-page wifi r{{settings._rotation}}" ng-show="{{typeof(settings._rotation) != 'undefined'}}">
    <div class="wifi">
        <div class="l1">Please connect to:</div>
        <div class="l2"><small>Wifi network:</small> <b>{{settings._ssid}}</b></div>
        <div class="l3"><small>Password:</small> <b>{{settings._passphrase}}</b></div>
    </div>
</div>