body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #eeeded;
}

.list-group-item label {
    width: 100%;
    height: 100%;
    cursor: pointer!important;
}

.radio-ssid {
    display: none;
}

.mt-100 {
    margin-top: 100px;
}

.fa-spin {
    font-size: 48px;
}