<div class="util-page loading r{{settings._rotation}}" ng-show="{{typeof(settings._rotation) != 'undefined'}}">
    <div class="loading">
        <div class="img"></div>
        <div class="l1">No slot found</div>
    </div>
</div>