@for $i from 0 through 8 {
    .pa#{$i * 5} { padding: #{$i * 5}px; }
    .pt#{$i * 5} { padding-top: #{$i * 5}px; }
    .pr#{$i * 5} { padding-right: #{$i * 5}px; }
    .pb#{$i * 5} { padding-bottom: #{$i * 5}px; }
    .pl#{$i * 5} { padding-left: #{$i * 5}px; }
    .ma#{$i * 5} { margin: #{$i * 5}px; }
    .mt#{$i * 5} { margin-top: #{$i * 5}px; }
    .mr#{$i * 5} { margin-right: #{$i * 5}px; }
    .mb#{$i * 5} { margin-bottom: #{$i * 5}px; }
    .ml#{$i * 5} { margin-left: #{$i * 5}px; }
}

.color-success { color: $color-success; }
.color-info { color: $color-info; }
.color-warning { color: $color-warning; }
.color-danger { color: $color-danger; }
.color-white { color: #fff; }

.bg-success { background-color: $color-success; }
.bg-info { background-color: $color-info; }
.bg-warning { background-color: $color-warning; }
.bg-danger { background-color: $color-danger; }

.border-success { border-color: $color-success; }
.border-info { border-color: $color-info; }
.border-warning { border-color: $color-warning; }
.border-danger { border-color: $color-danger; }

@each $clrl, $varl in $clr-list-all {
    @each $clr, $var in $varl {
        @if $clr == "base" {
            .color-md-#{$clrl} {
                color: $var;
            }
            .bg-md-#{$clrl} {
                background-color: $var;
            }
            .border-md-#{$clrl} {
                border-color: $var;
            }
        }
        @else {
            .color-md-#{$clrl}-#{$clr} {
                color: $var;
            }
            .bg-md-#{$clrl}-#{$clr} {
                background-color: $var;
            }
            .border-md-#{$clrl}-#{$clr} {
                border-color: $var;
            }
        }
    }
}

@for $i from 0 through 8 {
    .br#{$i} { border-radius: #{$i}px; }
}

@for $i from 8 through 24 {
    .fs#{$i} { font-size: #{$i}px; }
}

@for $i from 1 through 40 {
    .fsem#{$i} { font-size: #{$i / 10}em; }
}

@for $i from 0 through 16 {
    .icon-#{$i * 8} {
        width: #{$i * 8}px;
        height: auto;
    }
}

@for $i from 0 through 20 {
    .anim-delay-#{$i * 100} { animation-delay: #{$i * 100}ms; }
}

.anim-infinite {
    animation-iteration-count: infinite;
}

.word-break {
    word-break: break-all;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }