.debug {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.8em;

    &.r90{
        transform: rotate(90deg);
        transform-origin: top left;
        top:0px;
        left:1920px;
    }

    &.r270{
        transform: rotate(270deg);
        transform-origin: top left;
        top:1080px;
    }
}

.slots {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.slot {
    position: fixed;
    overflow: hidden;

    &.r0,
    &.r180 {
        width: 1920px;
        height: 1080px;
    }

    &.r90 {
        width: 1080px;
        height: 1920px;
        transform: rotate(90deg);
        transform-origin: top left;
        top:0px;
        left:1920px;
    }

    &.r270{
        width: 1080px;
        height: 1920px;
        transform: rotate(270deg);
        transform-origin: top left;
        top:1080px;
    }
}

.util-page{
    width: 1080px;
    height: 1920px;
    color:white;
    position: fixed;
    overflow: hidden;
    font: menu;

    &.wifi{
        background:url('/images/wifi.jpg');
    }
    &.register{
        background:url('/images/register.jpg');
    }
    &.error{
        background:url('/images/error.jpg');
    }
    &.loading{
        background:url('/images/loading.jpg');
    }

    &.r0{
        transform: rotate(0deg);
        transform-origin: top left;
        top:0px;
        left:0px;
    }

    &.r90{
        transform: rotate(90deg);
        transform-origin: top left;
        top:0px;
        left:1920px;
    }

    &.r270{
        transform: rotate(270deg);
        transform-origin: top left;
        top:1080px;
        left:0px;
    }

    .wifi{
        text-align: center;

        .l1{
            margin-top: 1030px;
            font-weight: lighter;
            font-size: 35px;
        }
        .l2{
            margin-top: 15px;
            font-weight: lighter;
            font-size: 50px;
        }
        .l3{
            margin-top: 10px;
            font-weight: lighter;
            font-size: 50px;
        }
    }

    .register{
        text-align: center;

        .l1{
            margin-top: 1030px;
            font-weight: lighter;
            font-size: 35px;
        }
        .l2{
            margin-top: 15px;
            font-weight: lighter;
            font-size: 50px;
        }
    }

    .error{
        text-align: center;

        .l1{
            margin-top: 1030px;
            font-weight: lighter;
            font-size: 45px;
        }
        .l2{
            margin-top: 15px;
            font-weight: lighter;
            font-size: 35px;
        }
        .l3{
            margin-top: 50px;
            font-weight: lighter;
            font-size: 20px;
        }
    }

    .loading{
        text-align: center;

        .img{
            background: url('/images/loading.gif') center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 70px; 
            height: 60px;
            margin: auto;
            margin-top: 850px;
        }

        .l1{
            margin-top: 40px;
            font-weight: lighter;
            font-size: 30px;
        }
        .l2{
            margin-top: 15px;
            font-weight: lighter;
            font-size: 35px;
        }
        .l3{
            margin-top: 50px;
            font-weight: lighter;
            font-size: 20px;
        }
    }
}