$body-font-family: 'Roboto', arial, sans-serif;
$body-font-weight: 300;
$body-font-size: 14px;

$title-font-family: 'Roboto Condensed', arial, sans-serif;
$title-font-weight: 300;

$color-success : #4caf50;
$color-info : #2196f3;
$color-warning : #ff9800;
$color-danger : #f44336;