<div class="slots">
    <div class="debug r{{settings._rotation}}" ng-show="settings._debug">
        <div ng-show="progress">
            <label>Téléchargements</label>
            <ul>
                <li>Files:
                    <ul ng-repeat="file in progress.files">
                        <li>{{file.filename}} ({{file.loadedSize}}/{{file.totalSize}})</li>
                    </ul>
                </li>
                <li>Total: {{progress.totalSizeDownloaded}} / {{progress.totalSize}}</li>
                <li>Speed: {{progress.formattedSpeed}}</li>
                <li>Time: {{progress.time}}ms</li>
                <li>Files: {{progress.nbDownloadedFiles}}/{{progress.nbFiles}}</li>
            </ul>
        </div>
        <div>
            <label>System</label>
            <ul>
                <li>Uptime: {{systemInfos.uptime}}</li>
            </ul>
        </div>
        <div>
            <label>Informations</label>
            <ul>
                <li ng-show="debug">Commit: {{debug.commit}}</li>
                <li>Id: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].id}}</li>
                <li>Position: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].position}}</li>
                <li>Duration: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].duration}}</li>
                <li>Template type: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.name}}</li>
                <li ng-show="typeof(sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0]) !== 'undefined' && sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0].asset_id != null">Asset original: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0].original_filename}}</li>
                <li ng-show="typeof(sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0]) !== 'undefined' && sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0].asset_id != null">Asset filename: {{sequenceCtrl.slots[sequenceCtrl.currentSlotIndex].template.template_fields[0].filename}}</li>
            </ul>
        </div>
    </div>
    <render-slot ng-repeat="slot in sequenceCtrl.slots track by $index" ng-show="sequenceCtrl.currentSlotIndex == $index" slot="slot" class="slot r{{settings._rotation}}" ng-show="typeof(settings._rotation) != 'undefined'"></render-slot>
</div>