* {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  background-color: #000; }

.pa0 {
  padding: 0px; }

.pt0 {
  padding-top: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.pl0 {
  padding-left: 0px; }

.ma0 {
  margin: 0px; }

.mt0 {
  margin-top: 0px; }

.mr0 {
  margin-right: 0px; }

.mb0 {
  margin-bottom: 0px; }

.ml0 {
  margin-left: 0px; }

.pa5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.pl5 {
  padding-left: 5px; }

.ma5 {
  margin: 5px; }

.mt5 {
  margin-top: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.ml5 {
  margin-left: 5px; }

.pa10 {
  padding: 10px; }

.pt10 {
  padding-top: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pl10 {
  padding-left: 10px; }

.ma10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.ml10 {
  margin-left: 10px; }

.pa15 {
  padding: 15px; }

.pt15 {
  padding-top: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pl15 {
  padding-left: 15px; }

.ma15 {
  margin: 15px; }

.mt15 {
  margin-top: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.pa20 {
  padding: 20px; }

.pt20 {
  padding-top: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pl20 {
  padding-left: 20px; }

.ma20 {
  margin: 20px; }

.mt20 {
  margin-top: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.ml20 {
  margin-left: 20px; }

.pa25 {
  padding: 25px; }

.pt25 {
  padding-top: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.pl25 {
  padding-left: 25px; }

.ma25 {
  margin: 25px; }

.mt25 {
  margin-top: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.ml25 {
  margin-left: 25px; }

.pa30 {
  padding: 30px; }

.pt30 {
  padding-top: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pl30 {
  padding-left: 30px; }

.ma30 {
  margin: 30px; }

.mt30 {
  margin-top: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.ml30 {
  margin-left: 30px; }

.pa35 {
  padding: 35px; }

.pt35 {
  padding-top: 35px; }

.pr35 {
  padding-right: 35px; }

.pb35 {
  padding-bottom: 35px; }

.pl35 {
  padding-left: 35px; }

.ma35 {
  margin: 35px; }

.mt35 {
  margin-top: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.ml35 {
  margin-left: 35px; }

.pa40 {
  padding: 40px; }

.pt40 {
  padding-top: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pl40 {
  padding-left: 40px; }

.ma40 {
  margin: 40px; }

.mt40 {
  margin-top: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.ml40 {
  margin-left: 40px; }

.color-success {
  color: #4caf50; }

.color-info {
  color: #2196f3; }

.color-warning {
  color: #ff9800; }

.color-danger {
  color: #f44336; }

.color-white {
  color: #fff; }

.bg-success {
  background-color: #4caf50; }

.bg-info {
  background-color: #2196f3; }

.bg-warning {
  background-color: #ff9800; }

.bg-danger {
  background-color: #f44336; }

.border-success {
  border-color: #4caf50; }

.border-info {
  border-color: #2196f3; }

.border-warning {
  border-color: #ff9800; }

.border-danger {
  border-color: #f44336; }

.color-md-red {
  color: #f44336; }

.bg-md-red {
  background-color: #f44336; }

.border-md-red {
  border-color: #f44336; }

.color-md-red-50 {
  color: #ffebee; }

.bg-md-red-50 {
  background-color: #ffebee; }

.border-md-red-50 {
  border-color: #ffebee; }

.color-md-red-100 {
  color: #ffcdd2; }

.bg-md-red-100 {
  background-color: #ffcdd2; }

.border-md-red-100 {
  border-color: #ffcdd2; }

.color-md-red-200 {
  color: #ef9a9a; }

.bg-md-red-200 {
  background-color: #ef9a9a; }

.border-md-red-200 {
  border-color: #ef9a9a; }

.color-md-red-300 {
  color: #e57373; }

.bg-md-red-300 {
  background-color: #e57373; }

.border-md-red-300 {
  border-color: #e57373; }

.color-md-red-400 {
  color: #ef5350; }

.bg-md-red-400 {
  background-color: #ef5350; }

.border-md-red-400 {
  border-color: #ef5350; }

.color-md-red-500 {
  color: #f44336; }

.bg-md-red-500 {
  background-color: #f44336; }

.border-md-red-500 {
  border-color: #f44336; }

.color-md-red-600 {
  color: #e53935; }

.bg-md-red-600 {
  background-color: #e53935; }

.border-md-red-600 {
  border-color: #e53935; }

.color-md-red-700 {
  color: #d32f2f; }

.bg-md-red-700 {
  background-color: #d32f2f; }

.border-md-red-700 {
  border-color: #d32f2f; }

.color-md-red-800 {
  color: #c62828; }

.bg-md-red-800 {
  background-color: #c62828; }

.border-md-red-800 {
  border-color: #c62828; }

.color-md-red-900 {
  color: #b71c1c; }

.bg-md-red-900 {
  background-color: #b71c1c; }

.border-md-red-900 {
  border-color: #b71c1c; }

.color-md-red-a100 {
  color: #ff8a80; }

.bg-md-red-a100 {
  background-color: #ff8a80; }

.border-md-red-a100 {
  border-color: #ff8a80; }

.color-md-red-a200 {
  color: #ff5252; }

.bg-md-red-a200 {
  background-color: #ff5252; }

.border-md-red-a200 {
  border-color: #ff5252; }

.color-md-red-a400 {
  color: #ff1744; }

.bg-md-red-a400 {
  background-color: #ff1744; }

.border-md-red-a400 {
  border-color: #ff1744; }

.color-md-red-a700 {
  color: #d50000; }

.bg-md-red-a700 {
  background-color: #d50000; }

.border-md-red-a700 {
  border-color: #d50000; }

.color-md-pink {
  color: #e91e63; }

.bg-md-pink {
  background-color: #e91e63; }

.border-md-pink {
  border-color: #e91e63; }

.color-md-pink-50 {
  color: #fce4ec; }

.bg-md-pink-50 {
  background-color: #fce4ec; }

.border-md-pink-50 {
  border-color: #fce4ec; }

.color-md-pink-100 {
  color: #f8bbd0; }

.bg-md-pink-100 {
  background-color: #f8bbd0; }

.border-md-pink-100 {
  border-color: #f8bbd0; }

.color-md-pink-200 {
  color: #f48fb1; }

.bg-md-pink-200 {
  background-color: #f48fb1; }

.border-md-pink-200 {
  border-color: #f48fb1; }

.color-md-pink-300 {
  color: #f06292; }

.bg-md-pink-300 {
  background-color: #f06292; }

.border-md-pink-300 {
  border-color: #f06292; }

.color-md-pink-400 {
  color: #ec407a; }

.bg-md-pink-400 {
  background-color: #ec407a; }

.border-md-pink-400 {
  border-color: #ec407a; }

.color-md-pink-500 {
  color: #e91e63; }

.bg-md-pink-500 {
  background-color: #e91e63; }

.border-md-pink-500 {
  border-color: #e91e63; }

.color-md-pink-600 {
  color: #d81b60; }

.bg-md-pink-600 {
  background-color: #d81b60; }

.border-md-pink-600 {
  border-color: #d81b60; }

.color-md-pink-700 {
  color: #c2185b; }

.bg-md-pink-700 {
  background-color: #c2185b; }

.border-md-pink-700 {
  border-color: #c2185b; }

.color-md-pink-800 {
  color: #ad1457; }

.bg-md-pink-800 {
  background-color: #ad1457; }

.border-md-pink-800 {
  border-color: #ad1457; }

.color-md-pink-900 {
  color: #880e4f; }

.bg-md-pink-900 {
  background-color: #880e4f; }

.border-md-pink-900 {
  border-color: #880e4f; }

.color-md-pink-a100 {
  color: #ff80ab; }

.bg-md-pink-a100 {
  background-color: #ff80ab; }

.border-md-pink-a100 {
  border-color: #ff80ab; }

.color-md-pink-a200 {
  color: #ff4081; }

.bg-md-pink-a200 {
  background-color: #ff4081; }

.border-md-pink-a200 {
  border-color: #ff4081; }

.color-md-pink-a400 {
  color: #f50057; }

.bg-md-pink-a400 {
  background-color: #f50057; }

.border-md-pink-a400 {
  border-color: #f50057; }

.color-md-pink-a700 {
  color: #c51162; }

.bg-md-pink-a700 {
  background-color: #c51162; }

.border-md-pink-a700 {
  border-color: #c51162; }

.color-md-purple {
  color: #9c27b0; }

.bg-md-purple {
  background-color: #9c27b0; }

.border-md-purple {
  border-color: #9c27b0; }

.color-md-purple-50 {
  color: #f3e5f5; }

.bg-md-purple-50 {
  background-color: #f3e5f5; }

.border-md-purple-50 {
  border-color: #f3e5f5; }

.color-md-purple-100 {
  color: #e1bee7; }

.bg-md-purple-100 {
  background-color: #e1bee7; }

.border-md-purple-100 {
  border-color: #e1bee7; }

.color-md-purple-200 {
  color: #ce93d8; }

.bg-md-purple-200 {
  background-color: #ce93d8; }

.border-md-purple-200 {
  border-color: #ce93d8; }

.color-md-purple-300 {
  color: #ba68c8; }

.bg-md-purple-300 {
  background-color: #ba68c8; }

.border-md-purple-300 {
  border-color: #ba68c8; }

.color-md-purple-400 {
  color: #ab47bc; }

.bg-md-purple-400 {
  background-color: #ab47bc; }

.border-md-purple-400 {
  border-color: #ab47bc; }

.color-md-purple-500 {
  color: #9c27b0; }

.bg-md-purple-500 {
  background-color: #9c27b0; }

.border-md-purple-500 {
  border-color: #9c27b0; }

.color-md-purple-600 {
  color: #8e24aa; }

.bg-md-purple-600 {
  background-color: #8e24aa; }

.border-md-purple-600 {
  border-color: #8e24aa; }

.color-md-purple-700 {
  color: #7b1fa2; }

.bg-md-purple-700 {
  background-color: #7b1fa2; }

.border-md-purple-700 {
  border-color: #7b1fa2; }

.color-md-purple-800 {
  color: #6a1b9a; }

.bg-md-purple-800 {
  background-color: #6a1b9a; }

.border-md-purple-800 {
  border-color: #6a1b9a; }

.color-md-purple-900 {
  color: #4a148c; }

.bg-md-purple-900 {
  background-color: #4a148c; }

.border-md-purple-900 {
  border-color: #4a148c; }

.color-md-purple-a100 {
  color: #ea80fc; }

.bg-md-purple-a100 {
  background-color: #ea80fc; }

.border-md-purple-a100 {
  border-color: #ea80fc; }

.color-md-purple-a200 {
  color: #e040fb; }

.bg-md-purple-a200 {
  background-color: #e040fb; }

.border-md-purple-a200 {
  border-color: #e040fb; }

.color-md-purple-a400 {
  color: #d500f9; }

.bg-md-purple-a400 {
  background-color: #d500f9; }

.border-md-purple-a400 {
  border-color: #d500f9; }

.color-md-purple-a700 {
  color: #aa00ff; }

.bg-md-purple-a700 {
  background-color: #aa00ff; }

.border-md-purple-a700 {
  border-color: #aa00ff; }

.color-md-deep-purple {
  color: #673ab7; }

.bg-md-deep-purple {
  background-color: #673ab7; }

.border-md-deep-purple {
  border-color: #673ab7; }

.color-md-deep-purple-50 {
  color: #ede7f6; }

.bg-md-deep-purple-50 {
  background-color: #ede7f6; }

.border-md-deep-purple-50 {
  border-color: #ede7f6; }

.color-md-deep-purple-100 {
  color: #d1c4e9; }

.bg-md-deep-purple-100 {
  background-color: #d1c4e9; }

.border-md-deep-purple-100 {
  border-color: #d1c4e9; }

.color-md-deep-purple-200 {
  color: #b39ddb; }

.bg-md-deep-purple-200 {
  background-color: #b39ddb; }

.border-md-deep-purple-200 {
  border-color: #b39ddb; }

.color-md-deep-purple-300 {
  color: #9575cd; }

.bg-md-deep-purple-300 {
  background-color: #9575cd; }

.border-md-deep-purple-300 {
  border-color: #9575cd; }

.color-md-deep-purple-400 {
  color: #7e57c2; }

.bg-md-deep-purple-400 {
  background-color: #7e57c2; }

.border-md-deep-purple-400 {
  border-color: #7e57c2; }

.color-md-deep-purple-500 {
  color: #673ab7; }

.bg-md-deep-purple-500 {
  background-color: #673ab7; }

.border-md-deep-purple-500 {
  border-color: #673ab7; }

.color-md-deep-purple-600 {
  color: #5e35b1; }

.bg-md-deep-purple-600 {
  background-color: #5e35b1; }

.border-md-deep-purple-600 {
  border-color: #5e35b1; }

.color-md-deep-purple-700 {
  color: #512da8; }

.bg-md-deep-purple-700 {
  background-color: #512da8; }

.border-md-deep-purple-700 {
  border-color: #512da8; }

.color-md-deep-purple-800 {
  color: #4527a0; }

.bg-md-deep-purple-800 {
  background-color: #4527a0; }

.border-md-deep-purple-800 {
  border-color: #4527a0; }

.color-md-deep-purple-900 {
  color: #311b92; }

.bg-md-deep-purple-900 {
  background-color: #311b92; }

.border-md-deep-purple-900 {
  border-color: #311b92; }

.color-md-deep-purple-a100 {
  color: #b388ff; }

.bg-md-deep-purple-a100 {
  background-color: #b388ff; }

.border-md-deep-purple-a100 {
  border-color: #b388ff; }

.color-md-deep-purple-a200 {
  color: #7c4dff; }

.bg-md-deep-purple-a200 {
  background-color: #7c4dff; }

.border-md-deep-purple-a200 {
  border-color: #7c4dff; }

.color-md-deep-purple-a400 {
  color: #651fff; }

.bg-md-deep-purple-a400 {
  background-color: #651fff; }

.border-md-deep-purple-a400 {
  border-color: #651fff; }

.color-md-deep-purple-a700 {
  color: #6200ea; }

.bg-md-deep-purple-a700 {
  background-color: #6200ea; }

.border-md-deep-purple-a700 {
  border-color: #6200ea; }

.color-md-indigo {
  color: #3f51b5; }

.bg-md-indigo {
  background-color: #3f51b5; }

.border-md-indigo {
  border-color: #3f51b5; }

.color-md-indigo-50 {
  color: #e8eaf6; }

.bg-md-indigo-50 {
  background-color: #e8eaf6; }

.border-md-indigo-50 {
  border-color: #e8eaf6; }

.color-md-indigo-100 {
  color: #c5cae9; }

.bg-md-indigo-100 {
  background-color: #c5cae9; }

.border-md-indigo-100 {
  border-color: #c5cae9; }

.color-md-indigo-200 {
  color: #9fa8da; }

.bg-md-indigo-200 {
  background-color: #9fa8da; }

.border-md-indigo-200 {
  border-color: #9fa8da; }

.color-md-indigo-300 {
  color: #7986cb; }

.bg-md-indigo-300 {
  background-color: #7986cb; }

.border-md-indigo-300 {
  border-color: #7986cb; }

.color-md-indigo-400 {
  color: #5c6bc0; }

.bg-md-indigo-400 {
  background-color: #5c6bc0; }

.border-md-indigo-400 {
  border-color: #5c6bc0; }

.color-md-indigo-500 {
  color: #3f51b5; }

.bg-md-indigo-500 {
  background-color: #3f51b5; }

.border-md-indigo-500 {
  border-color: #3f51b5; }

.color-md-indigo-600 {
  color: #3949ab; }

.bg-md-indigo-600 {
  background-color: #3949ab; }

.border-md-indigo-600 {
  border-color: #3949ab; }

.color-md-indigo-700 {
  color: #303f9f; }

.bg-md-indigo-700 {
  background-color: #303f9f; }

.border-md-indigo-700 {
  border-color: #303f9f; }

.color-md-indigo-800 {
  color: #283593; }

.bg-md-indigo-800 {
  background-color: #283593; }

.border-md-indigo-800 {
  border-color: #283593; }

.color-md-indigo-900 {
  color: #1a237e; }

.bg-md-indigo-900 {
  background-color: #1a237e; }

.border-md-indigo-900 {
  border-color: #1a237e; }

.color-md-indigo-a100 {
  color: #8c9eff; }

.bg-md-indigo-a100 {
  background-color: #8c9eff; }

.border-md-indigo-a100 {
  border-color: #8c9eff; }

.color-md-indigo-a200 {
  color: #536dfe; }

.bg-md-indigo-a200 {
  background-color: #536dfe; }

.border-md-indigo-a200 {
  border-color: #536dfe; }

.color-md-indigo-a400 {
  color: #3d5afe; }

.bg-md-indigo-a400 {
  background-color: #3d5afe; }

.border-md-indigo-a400 {
  border-color: #3d5afe; }

.color-md-indigo-a700 {
  color: #304ffe; }

.bg-md-indigo-a700 {
  background-color: #304ffe; }

.border-md-indigo-a700 {
  border-color: #304ffe; }

.color-md-blue {
  color: #2196f3; }

.bg-md-blue {
  background-color: #2196f3; }

.border-md-blue {
  border-color: #2196f3; }

.color-md-blue-50 {
  color: #e3f2fd; }

.bg-md-blue-50 {
  background-color: #e3f2fd; }

.border-md-blue-50 {
  border-color: #e3f2fd; }

.color-md-blue-100 {
  color: #bbdefb; }

.bg-md-blue-100 {
  background-color: #bbdefb; }

.border-md-blue-100 {
  border-color: #bbdefb; }

.color-md-blue-200 {
  color: #90caf9; }

.bg-md-blue-200 {
  background-color: #90caf9; }

.border-md-blue-200 {
  border-color: #90caf9; }

.color-md-blue-300 {
  color: #64b5f6; }

.bg-md-blue-300 {
  background-color: #64b5f6; }

.border-md-blue-300 {
  border-color: #64b5f6; }

.color-md-blue-400 {
  color: #42a5f5; }

.bg-md-blue-400 {
  background-color: #42a5f5; }

.border-md-blue-400 {
  border-color: #42a5f5; }

.color-md-blue-500 {
  color: #2196f3; }

.bg-md-blue-500 {
  background-color: #2196f3; }

.border-md-blue-500 {
  border-color: #2196f3; }

.color-md-blue-600 {
  color: #1e88e5; }

.bg-md-blue-600 {
  background-color: #1e88e5; }

.border-md-blue-600 {
  border-color: #1e88e5; }

.color-md-blue-700 {
  color: #1976d2; }

.bg-md-blue-700 {
  background-color: #1976d2; }

.border-md-blue-700 {
  border-color: #1976d2; }

.color-md-blue-800 {
  color: #1565c0; }

.bg-md-blue-800 {
  background-color: #1565c0; }

.border-md-blue-800 {
  border-color: #1565c0; }

.color-md-blue-900 {
  color: #0d47a1; }

.bg-md-blue-900 {
  background-color: #0d47a1; }

.border-md-blue-900 {
  border-color: #0d47a1; }

.color-md-blue-a100 {
  color: #82b1ff; }

.bg-md-blue-a100 {
  background-color: #82b1ff; }

.border-md-blue-a100 {
  border-color: #82b1ff; }

.color-md-blue-a200 {
  color: #448aff; }

.bg-md-blue-a200 {
  background-color: #448aff; }

.border-md-blue-a200 {
  border-color: #448aff; }

.color-md-blue-a400 {
  color: #2979ff; }

.bg-md-blue-a400 {
  background-color: #2979ff; }

.border-md-blue-a400 {
  border-color: #2979ff; }

.color-md-blue-a700 {
  color: #2962ff; }

.bg-md-blue-a700 {
  background-color: #2962ff; }

.border-md-blue-a700 {
  border-color: #2962ff; }

.color-md-light-blue {
  color: #03a9f4; }

.bg-md-light-blue {
  background-color: #03a9f4; }

.border-md-light-blue {
  border-color: #03a9f4; }

.color-md-light-blue-50 {
  color: #e1f5fe; }

.bg-md-light-blue-50 {
  background-color: #e1f5fe; }

.border-md-light-blue-50 {
  border-color: #e1f5fe; }

.color-md-light-blue-100 {
  color: #b3e5fc; }

.bg-md-light-blue-100 {
  background-color: #b3e5fc; }

.border-md-light-blue-100 {
  border-color: #b3e5fc; }

.color-md-light-blue-200 {
  color: #81d4fa; }

.bg-md-light-blue-200 {
  background-color: #81d4fa; }

.border-md-light-blue-200 {
  border-color: #81d4fa; }

.color-md-light-blue-300 {
  color: #4fc3f7; }

.bg-md-light-blue-300 {
  background-color: #4fc3f7; }

.border-md-light-blue-300 {
  border-color: #4fc3f7; }

.color-md-light-blue-400 {
  color: #29b6f6; }

.bg-md-light-blue-400 {
  background-color: #29b6f6; }

.border-md-light-blue-400 {
  border-color: #29b6f6; }

.color-md-light-blue-500 {
  color: #03a9f4; }

.bg-md-light-blue-500 {
  background-color: #03a9f4; }

.border-md-light-blue-500 {
  border-color: #03a9f4; }

.color-md-light-blue-600 {
  color: #039be5; }

.bg-md-light-blue-600 {
  background-color: #039be5; }

.border-md-light-blue-600 {
  border-color: #039be5; }

.color-md-light-blue-700 {
  color: #0288d1; }

.bg-md-light-blue-700 {
  background-color: #0288d1; }

.border-md-light-blue-700 {
  border-color: #0288d1; }

.color-md-light-blue-800 {
  color: #0277bd; }

.bg-md-light-blue-800 {
  background-color: #0277bd; }

.border-md-light-blue-800 {
  border-color: #0277bd; }

.color-md-light-blue-900 {
  color: #01579b; }

.bg-md-light-blue-900 {
  background-color: #01579b; }

.border-md-light-blue-900 {
  border-color: #01579b; }

.color-md-light-blue-a100 {
  color: #80d8ff; }

.bg-md-light-blue-a100 {
  background-color: #80d8ff; }

.border-md-light-blue-a100 {
  border-color: #80d8ff; }

.color-md-light-blue-a200 {
  color: #40c4ff; }

.bg-md-light-blue-a200 {
  background-color: #40c4ff; }

.border-md-light-blue-a200 {
  border-color: #40c4ff; }

.color-md-light-blue-a400 {
  color: #00b0ff; }

.bg-md-light-blue-a400 {
  background-color: #00b0ff; }

.border-md-light-blue-a400 {
  border-color: #00b0ff; }

.color-md-light-blue-a700 {
  color: #0091ea; }

.bg-md-light-blue-a700 {
  background-color: #0091ea; }

.border-md-light-blue-a700 {
  border-color: #0091ea; }

.color-md-cyan {
  color: #00bcd4; }

.bg-md-cyan {
  background-color: #00bcd4; }

.border-md-cyan {
  border-color: #00bcd4; }

.color-md-cyan-50 {
  color: #e0f7fa; }

.bg-md-cyan-50 {
  background-color: #e0f7fa; }

.border-md-cyan-50 {
  border-color: #e0f7fa; }

.color-md-cyan-100 {
  color: #b2ebf2; }

.bg-md-cyan-100 {
  background-color: #b2ebf2; }

.border-md-cyan-100 {
  border-color: #b2ebf2; }

.color-md-cyan-200 {
  color: #80deea; }

.bg-md-cyan-200 {
  background-color: #80deea; }

.border-md-cyan-200 {
  border-color: #80deea; }

.color-md-cyan-300 {
  color: #4dd0e1; }

.bg-md-cyan-300 {
  background-color: #4dd0e1; }

.border-md-cyan-300 {
  border-color: #4dd0e1; }

.color-md-cyan-400 {
  color: #26c6da; }

.bg-md-cyan-400 {
  background-color: #26c6da; }

.border-md-cyan-400 {
  border-color: #26c6da; }

.color-md-cyan-500 {
  color: #00bcd4; }

.bg-md-cyan-500 {
  background-color: #00bcd4; }

.border-md-cyan-500 {
  border-color: #00bcd4; }

.color-md-cyan-600 {
  color: #00acc1; }

.bg-md-cyan-600 {
  background-color: #00acc1; }

.border-md-cyan-600 {
  border-color: #00acc1; }

.color-md-cyan-700 {
  color: #0097a7; }

.bg-md-cyan-700 {
  background-color: #0097a7; }

.border-md-cyan-700 {
  border-color: #0097a7; }

.color-md-cyan-800 {
  color: #00838f; }

.bg-md-cyan-800 {
  background-color: #00838f; }

.border-md-cyan-800 {
  border-color: #00838f; }

.color-md-cyan-900 {
  color: #006064; }

.bg-md-cyan-900 {
  background-color: #006064; }

.border-md-cyan-900 {
  border-color: #006064; }

.color-md-cyan-a100 {
  color: #84ffff; }

.bg-md-cyan-a100 {
  background-color: #84ffff; }

.border-md-cyan-a100 {
  border-color: #84ffff; }

.color-md-cyan-a200 {
  color: #18ffff; }

.bg-md-cyan-a200 {
  background-color: #18ffff; }

.border-md-cyan-a200 {
  border-color: #18ffff; }

.color-md-cyan-a400 {
  color: #00e5ff; }

.bg-md-cyan-a400 {
  background-color: #00e5ff; }

.border-md-cyan-a400 {
  border-color: #00e5ff; }

.color-md-cyan-a700 {
  color: #00b8d4; }

.bg-md-cyan-a700 {
  background-color: #00b8d4; }

.border-md-cyan-a700 {
  border-color: #00b8d4; }

.color-md-teal {
  color: #009688; }

.bg-md-teal {
  background-color: #009688; }

.border-md-teal {
  border-color: #009688; }

.color-md-teal-50 {
  color: #e0f2f1; }

.bg-md-teal-50 {
  background-color: #e0f2f1; }

.border-md-teal-50 {
  border-color: #e0f2f1; }

.color-md-teal-100 {
  color: #b2dfdb; }

.bg-md-teal-100 {
  background-color: #b2dfdb; }

.border-md-teal-100 {
  border-color: #b2dfdb; }

.color-md-teal-200 {
  color: #80cbc4; }

.bg-md-teal-200 {
  background-color: #80cbc4; }

.border-md-teal-200 {
  border-color: #80cbc4; }

.color-md-teal-300 {
  color: #4db6ac; }

.bg-md-teal-300 {
  background-color: #4db6ac; }

.border-md-teal-300 {
  border-color: #4db6ac; }

.color-md-teal-400 {
  color: #26a69a; }

.bg-md-teal-400 {
  background-color: #26a69a; }

.border-md-teal-400 {
  border-color: #26a69a; }

.color-md-teal-500 {
  color: #009688; }

.bg-md-teal-500 {
  background-color: #009688; }

.border-md-teal-500 {
  border-color: #009688; }

.color-md-teal-600 {
  color: #00897b; }

.bg-md-teal-600 {
  background-color: #00897b; }

.border-md-teal-600 {
  border-color: #00897b; }

.color-md-teal-700 {
  color: #00796b; }

.bg-md-teal-700 {
  background-color: #00796b; }

.border-md-teal-700 {
  border-color: #00796b; }

.color-md-teal-800 {
  color: #00695c; }

.bg-md-teal-800 {
  background-color: #00695c; }

.border-md-teal-800 {
  border-color: #00695c; }

.color-md-teal-900 {
  color: #004d40; }

.bg-md-teal-900 {
  background-color: #004d40; }

.border-md-teal-900 {
  border-color: #004d40; }

.color-md-teal-a100 {
  color: #a7ffeb; }

.bg-md-teal-a100 {
  background-color: #a7ffeb; }

.border-md-teal-a100 {
  border-color: #a7ffeb; }

.color-md-teal-a200 {
  color: #64ffda; }

.bg-md-teal-a200 {
  background-color: #64ffda; }

.border-md-teal-a200 {
  border-color: #64ffda; }

.color-md-teal-a400 {
  color: #1de9b6; }

.bg-md-teal-a400 {
  background-color: #1de9b6; }

.border-md-teal-a400 {
  border-color: #1de9b6; }

.color-md-teal-a700 {
  color: #00bfa5; }

.bg-md-teal-a700 {
  background-color: #00bfa5; }

.border-md-teal-a700 {
  border-color: #00bfa5; }

.color-md-green {
  color: #4caf50; }

.bg-md-green {
  background-color: #4caf50; }

.border-md-green {
  border-color: #4caf50; }

.color-md-green-50 {
  color: #e8f5e9; }

.bg-md-green-50 {
  background-color: #e8f5e9; }

.border-md-green-50 {
  border-color: #e8f5e9; }

.color-md-green-100 {
  color: #c8e6c9; }

.bg-md-green-100 {
  background-color: #c8e6c9; }

.border-md-green-100 {
  border-color: #c8e6c9; }

.color-md-green-200 {
  color: #a5d6a7; }

.bg-md-green-200 {
  background-color: #a5d6a7; }

.border-md-green-200 {
  border-color: #a5d6a7; }

.color-md-green-300 {
  color: #81c784; }

.bg-md-green-300 {
  background-color: #81c784; }

.border-md-green-300 {
  border-color: #81c784; }

.color-md-green-400 {
  color: #66bb6a; }

.bg-md-green-400 {
  background-color: #66bb6a; }

.border-md-green-400 {
  border-color: #66bb6a; }

.color-md-green-500 {
  color: #4caf50; }

.bg-md-green-500 {
  background-color: #4caf50; }

.border-md-green-500 {
  border-color: #4caf50; }

.color-md-green-600 {
  color: #43a047; }

.bg-md-green-600 {
  background-color: #43a047; }

.border-md-green-600 {
  border-color: #43a047; }

.color-md-green-700 {
  color: #388e3c; }

.bg-md-green-700 {
  background-color: #388e3c; }

.border-md-green-700 {
  border-color: #388e3c; }

.color-md-green-800 {
  color: #2e7d32; }

.bg-md-green-800 {
  background-color: #2e7d32; }

.border-md-green-800 {
  border-color: #2e7d32; }

.color-md-green-900 {
  color: #1b5e20; }

.bg-md-green-900 {
  background-color: #1b5e20; }

.border-md-green-900 {
  border-color: #1b5e20; }

.color-md-green-a100 {
  color: #b9f6ca; }

.bg-md-green-a100 {
  background-color: #b9f6ca; }

.border-md-green-a100 {
  border-color: #b9f6ca; }

.color-md-green-a200 {
  color: #69f0ae; }

.bg-md-green-a200 {
  background-color: #69f0ae; }

.border-md-green-a200 {
  border-color: #69f0ae; }

.color-md-green-a400 {
  color: #00e676; }

.bg-md-green-a400 {
  background-color: #00e676; }

.border-md-green-a400 {
  border-color: #00e676; }

.color-md-green-a700 {
  color: #00c853; }

.bg-md-green-a700 {
  background-color: #00c853; }

.border-md-green-a700 {
  border-color: #00c853; }

.color-md-light-green {
  color: #8bc34a; }

.bg-md-light-green {
  background-color: #8bc34a; }

.border-md-light-green {
  border-color: #8bc34a; }

.color-md-light-green-50 {
  color: #f1f8e9; }

.bg-md-light-green-50 {
  background-color: #f1f8e9; }

.border-md-light-green-50 {
  border-color: #f1f8e9; }

.color-md-light-green-100 {
  color: #dcedc8; }

.bg-md-light-green-100 {
  background-color: #dcedc8; }

.border-md-light-green-100 {
  border-color: #dcedc8; }

.color-md-light-green-200 {
  color: #c5e1a5; }

.bg-md-light-green-200 {
  background-color: #c5e1a5; }

.border-md-light-green-200 {
  border-color: #c5e1a5; }

.color-md-light-green-300 {
  color: #aed581; }

.bg-md-light-green-300 {
  background-color: #aed581; }

.border-md-light-green-300 {
  border-color: #aed581; }

.color-md-light-green-400 {
  color: #9ccc65; }

.bg-md-light-green-400 {
  background-color: #9ccc65; }

.border-md-light-green-400 {
  border-color: #9ccc65; }

.color-md-light-green-500 {
  color: #8bc34a; }

.bg-md-light-green-500 {
  background-color: #8bc34a; }

.border-md-light-green-500 {
  border-color: #8bc34a; }

.color-md-light-green-600 {
  color: #7cb342; }

.bg-md-light-green-600 {
  background-color: #7cb342; }

.border-md-light-green-600 {
  border-color: #7cb342; }

.color-md-light-green-700 {
  color: #689f38; }

.bg-md-light-green-700 {
  background-color: #689f38; }

.border-md-light-green-700 {
  border-color: #689f38; }

.color-md-light-green-800 {
  color: #558b2f; }

.bg-md-light-green-800 {
  background-color: #558b2f; }

.border-md-light-green-800 {
  border-color: #558b2f; }

.color-md-light-green-900 {
  color: #33691e; }

.bg-md-light-green-900 {
  background-color: #33691e; }

.border-md-light-green-900 {
  border-color: #33691e; }

.color-md-light-green-a100 {
  color: #ccff90; }

.bg-md-light-green-a100 {
  background-color: #ccff90; }

.border-md-light-green-a100 {
  border-color: #ccff90; }

.color-md-light-green-a200 {
  color: #b2ff59; }

.bg-md-light-green-a200 {
  background-color: #b2ff59; }

.border-md-light-green-a200 {
  border-color: #b2ff59; }

.color-md-light-green-a400 {
  color: #76ff03; }

.bg-md-light-green-a400 {
  background-color: #76ff03; }

.border-md-light-green-a400 {
  border-color: #76ff03; }

.color-md-light-green-a700 {
  color: #64dd17; }

.bg-md-light-green-a700 {
  background-color: #64dd17; }

.border-md-light-green-a700 {
  border-color: #64dd17; }

.color-md-lime {
  color: #cddc39; }

.bg-md-lime {
  background-color: #cddc39; }

.border-md-lime {
  border-color: #cddc39; }

.color-md-lime-50 {
  color: #f9fbe7; }

.bg-md-lime-50 {
  background-color: #f9fbe7; }

.border-md-lime-50 {
  border-color: #f9fbe7; }

.color-md-lime-100 {
  color: #f0f4c3; }

.bg-md-lime-100 {
  background-color: #f0f4c3; }

.border-md-lime-100 {
  border-color: #f0f4c3; }

.color-md-lime-200 {
  color: #e6ee9c; }

.bg-md-lime-200 {
  background-color: #e6ee9c; }

.border-md-lime-200 {
  border-color: #e6ee9c; }

.color-md-lime-300 {
  color: #dce775; }

.bg-md-lime-300 {
  background-color: #dce775; }

.border-md-lime-300 {
  border-color: #dce775; }

.color-md-lime-400 {
  color: #d4e157; }

.bg-md-lime-400 {
  background-color: #d4e157; }

.border-md-lime-400 {
  border-color: #d4e157; }

.color-md-lime-500 {
  color: #cddc39; }

.bg-md-lime-500 {
  background-color: #cddc39; }

.border-md-lime-500 {
  border-color: #cddc39; }

.color-md-lime-600 {
  color: #c0ca33; }

.bg-md-lime-600 {
  background-color: #c0ca33; }

.border-md-lime-600 {
  border-color: #c0ca33; }

.color-md-lime-700 {
  color: #afb42b; }

.bg-md-lime-700 {
  background-color: #afb42b; }

.border-md-lime-700 {
  border-color: #afb42b; }

.color-md-lime-800 {
  color: #9e9d24; }

.bg-md-lime-800 {
  background-color: #9e9d24; }

.border-md-lime-800 {
  border-color: #9e9d24; }

.color-md-lime-900 {
  color: #827717; }

.bg-md-lime-900 {
  background-color: #827717; }

.border-md-lime-900 {
  border-color: #827717; }

.color-md-lime-a100 {
  color: #f4ff81; }

.bg-md-lime-a100 {
  background-color: #f4ff81; }

.border-md-lime-a100 {
  border-color: #f4ff81; }

.color-md-lime-a200 {
  color: #eeff41; }

.bg-md-lime-a200 {
  background-color: #eeff41; }

.border-md-lime-a200 {
  border-color: #eeff41; }

.color-md-lime-a400 {
  color: #c6ff00; }

.bg-md-lime-a400 {
  background-color: #c6ff00; }

.border-md-lime-a400 {
  border-color: #c6ff00; }

.color-md-lime-a700 {
  color: #aeea00; }

.bg-md-lime-a700 {
  background-color: #aeea00; }

.border-md-lime-a700 {
  border-color: #aeea00; }

.color-md-yellow {
  color: #ffeb3b; }

.bg-md-yellow {
  background-color: #ffeb3b; }

.border-md-yellow {
  border-color: #ffeb3b; }

.color-md-yellow-50 {
  color: #fffde7; }

.bg-md-yellow-50 {
  background-color: #fffde7; }

.border-md-yellow-50 {
  border-color: #fffde7; }

.color-md-yellow-100 {
  color: #fff9c4; }

.bg-md-yellow-100 {
  background-color: #fff9c4; }

.border-md-yellow-100 {
  border-color: #fff9c4; }

.color-md-yellow-200 {
  color: #fff59d; }

.bg-md-yellow-200 {
  background-color: #fff59d; }

.border-md-yellow-200 {
  border-color: #fff59d; }

.color-md-yellow-300 {
  color: #fff176; }

.bg-md-yellow-300 {
  background-color: #fff176; }

.border-md-yellow-300 {
  border-color: #fff176; }

.color-md-yellow-400 {
  color: #ffee58; }

.bg-md-yellow-400 {
  background-color: #ffee58; }

.border-md-yellow-400 {
  border-color: #ffee58; }

.color-md-yellow-500 {
  color: #ffeb3b; }

.bg-md-yellow-500 {
  background-color: #ffeb3b; }

.border-md-yellow-500 {
  border-color: #ffeb3b; }

.color-md-yellow-600 {
  color: #fdd835; }

.bg-md-yellow-600 {
  background-color: #fdd835; }

.border-md-yellow-600 {
  border-color: #fdd835; }

.color-md-yellow-700 {
  color: #fbc02d; }

.bg-md-yellow-700 {
  background-color: #fbc02d; }

.border-md-yellow-700 {
  border-color: #fbc02d; }

.color-md-yellow-800 {
  color: #f9a825; }

.bg-md-yellow-800 {
  background-color: #f9a825; }

.border-md-yellow-800 {
  border-color: #f9a825; }

.color-md-yellow-900 {
  color: #f57f17; }

.bg-md-yellow-900 {
  background-color: #f57f17; }

.border-md-yellow-900 {
  border-color: #f57f17; }

.color-md-yellow-a100 {
  color: #ffff8d; }

.bg-md-yellow-a100 {
  background-color: #ffff8d; }

.border-md-yellow-a100 {
  border-color: #ffff8d; }

.color-md-yellow-a200 {
  color: #ffff00; }

.bg-md-yellow-a200 {
  background-color: #ffff00; }

.border-md-yellow-a200 {
  border-color: #ffff00; }

.color-md-yellow-a400 {
  color: #ffea00; }

.bg-md-yellow-a400 {
  background-color: #ffea00; }

.border-md-yellow-a400 {
  border-color: #ffea00; }

.color-md-yellow-a700 {
  color: #ffd600; }

.bg-md-yellow-a700 {
  background-color: #ffd600; }

.border-md-yellow-a700 {
  border-color: #ffd600; }

.color-md-amber {
  color: #ffc107; }

.bg-md-amber {
  background-color: #ffc107; }

.border-md-amber {
  border-color: #ffc107; }

.color-md-amber-50 {
  color: #fff8e1; }

.bg-md-amber-50 {
  background-color: #fff8e1; }

.border-md-amber-50 {
  border-color: #fff8e1; }

.color-md-amber-100 {
  color: #ffecb3; }

.bg-md-amber-100 {
  background-color: #ffecb3; }

.border-md-amber-100 {
  border-color: #ffecb3; }

.color-md-amber-200 {
  color: #ffe082; }

.bg-md-amber-200 {
  background-color: #ffe082; }

.border-md-amber-200 {
  border-color: #ffe082; }

.color-md-amber-300 {
  color: #ffd54f; }

.bg-md-amber-300 {
  background-color: #ffd54f; }

.border-md-amber-300 {
  border-color: #ffd54f; }

.color-md-amber-400 {
  color: #ffca28; }

.bg-md-amber-400 {
  background-color: #ffca28; }

.border-md-amber-400 {
  border-color: #ffca28; }

.color-md-amber-500 {
  color: #ffc107; }

.bg-md-amber-500 {
  background-color: #ffc107; }

.border-md-amber-500 {
  border-color: #ffc107; }

.color-md-amber-600 {
  color: #ffb300; }

.bg-md-amber-600 {
  background-color: #ffb300; }

.border-md-amber-600 {
  border-color: #ffb300; }

.color-md-amber-700 {
  color: #ffa000; }

.bg-md-amber-700 {
  background-color: #ffa000; }

.border-md-amber-700 {
  border-color: #ffa000; }

.color-md-amber-800 {
  color: #ff8f00; }

.bg-md-amber-800 {
  background-color: #ff8f00; }

.border-md-amber-800 {
  border-color: #ff8f00; }

.color-md-amber-900 {
  color: #ff6f00; }

.bg-md-amber-900 {
  background-color: #ff6f00; }

.border-md-amber-900 {
  border-color: #ff6f00; }

.color-md-amber-a100 {
  color: #ffe57f; }

.bg-md-amber-a100 {
  background-color: #ffe57f; }

.border-md-amber-a100 {
  border-color: #ffe57f; }

.color-md-amber-a200 {
  color: #ffd740; }

.bg-md-amber-a200 {
  background-color: #ffd740; }

.border-md-amber-a200 {
  border-color: #ffd740; }

.color-md-amber-a400 {
  color: #ffc400; }

.bg-md-amber-a400 {
  background-color: #ffc400; }

.border-md-amber-a400 {
  border-color: #ffc400; }

.color-md-amber-a700 {
  color: #ffab00; }

.bg-md-amber-a700 {
  background-color: #ffab00; }

.border-md-amber-a700 {
  border-color: #ffab00; }

.color-md-orange {
  color: #ff9800; }

.bg-md-orange {
  background-color: #ff9800; }

.border-md-orange {
  border-color: #ff9800; }

.color-md-orange-50 {
  color: #fff3e0; }

.bg-md-orange-50 {
  background-color: #fff3e0; }

.border-md-orange-50 {
  border-color: #fff3e0; }

.color-md-orange-100 {
  color: #ffe0b2; }

.bg-md-orange-100 {
  background-color: #ffe0b2; }

.border-md-orange-100 {
  border-color: #ffe0b2; }

.color-md-orange-200 {
  color: #ffcc80; }

.bg-md-orange-200 {
  background-color: #ffcc80; }

.border-md-orange-200 {
  border-color: #ffcc80; }

.color-md-orange-300 {
  color: #ffb74d; }

.bg-md-orange-300 {
  background-color: #ffb74d; }

.border-md-orange-300 {
  border-color: #ffb74d; }

.color-md-orange-400 {
  color: #ffa726; }

.bg-md-orange-400 {
  background-color: #ffa726; }

.border-md-orange-400 {
  border-color: #ffa726; }

.color-md-orange-500 {
  color: #ff9800; }

.bg-md-orange-500 {
  background-color: #ff9800; }

.border-md-orange-500 {
  border-color: #ff9800; }

.color-md-orange-600 {
  color: #fb8c00; }

.bg-md-orange-600 {
  background-color: #fb8c00; }

.border-md-orange-600 {
  border-color: #fb8c00; }

.color-md-orange-700 {
  color: #f57c00; }

.bg-md-orange-700 {
  background-color: #f57c00; }

.border-md-orange-700 {
  border-color: #f57c00; }

.color-md-orange-800 {
  color: #ef6c00; }

.bg-md-orange-800 {
  background-color: #ef6c00; }

.border-md-orange-800 {
  border-color: #ef6c00; }

.color-md-orange-900 {
  color: #e65100; }

.bg-md-orange-900 {
  background-color: #e65100; }

.border-md-orange-900 {
  border-color: #e65100; }

.color-md-orange-a100 {
  color: #ffd180; }

.bg-md-orange-a100 {
  background-color: #ffd180; }

.border-md-orange-a100 {
  border-color: #ffd180; }

.color-md-orange-a200 {
  color: #ffab40; }

.bg-md-orange-a200 {
  background-color: #ffab40; }

.border-md-orange-a200 {
  border-color: #ffab40; }

.color-md-orange-a400 {
  color: #ff9100; }

.bg-md-orange-a400 {
  background-color: #ff9100; }

.border-md-orange-a400 {
  border-color: #ff9100; }

.color-md-orange-a700 {
  color: #ff6d00; }

.bg-md-orange-a700 {
  background-color: #ff6d00; }

.border-md-orange-a700 {
  border-color: #ff6d00; }

.color-md-deep-orange {
  color: #ff5722; }

.bg-md-deep-orange {
  background-color: #ff5722; }

.border-md-deep-orange {
  border-color: #ff5722; }

.color-md-deep-orange-50 {
  color: #fbe9e7; }

.bg-md-deep-orange-50 {
  background-color: #fbe9e7; }

.border-md-deep-orange-50 {
  border-color: #fbe9e7; }

.color-md-deep-orange-100 {
  color: #ffccbc; }

.bg-md-deep-orange-100 {
  background-color: #ffccbc; }

.border-md-deep-orange-100 {
  border-color: #ffccbc; }

.color-md-deep-orange-200 {
  color: #ffab91; }

.bg-md-deep-orange-200 {
  background-color: #ffab91; }

.border-md-deep-orange-200 {
  border-color: #ffab91; }

.color-md-deep-orange-300 {
  color: #ff8a65; }

.bg-md-deep-orange-300 {
  background-color: #ff8a65; }

.border-md-deep-orange-300 {
  border-color: #ff8a65; }

.color-md-deep-orange-400 {
  color: #ff7043; }

.bg-md-deep-orange-400 {
  background-color: #ff7043; }

.border-md-deep-orange-400 {
  border-color: #ff7043; }

.color-md-deep-orange-500 {
  color: #ff5722; }

.bg-md-deep-orange-500 {
  background-color: #ff5722; }

.border-md-deep-orange-500 {
  border-color: #ff5722; }

.color-md-deep-orange-600 {
  color: #f4511e; }

.bg-md-deep-orange-600 {
  background-color: #f4511e; }

.border-md-deep-orange-600 {
  border-color: #f4511e; }

.color-md-deep-orange-700 {
  color: #e64a19; }

.bg-md-deep-orange-700 {
  background-color: #e64a19; }

.border-md-deep-orange-700 {
  border-color: #e64a19; }

.color-md-deep-orange-800 {
  color: #d84315; }

.bg-md-deep-orange-800 {
  background-color: #d84315; }

.border-md-deep-orange-800 {
  border-color: #d84315; }

.color-md-deep-orange-900 {
  color: #bf360c; }

.bg-md-deep-orange-900 {
  background-color: #bf360c; }

.border-md-deep-orange-900 {
  border-color: #bf360c; }

.color-md-deep-orange-a100 {
  color: #ff9e80; }

.bg-md-deep-orange-a100 {
  background-color: #ff9e80; }

.border-md-deep-orange-a100 {
  border-color: #ff9e80; }

.color-md-deep-orange-a200 {
  color: #ff6e40; }

.bg-md-deep-orange-a200 {
  background-color: #ff6e40; }

.border-md-deep-orange-a200 {
  border-color: #ff6e40; }

.color-md-deep-orange-a400 {
  color: #ff3d00; }

.bg-md-deep-orange-a400 {
  background-color: #ff3d00; }

.border-md-deep-orange-a400 {
  border-color: #ff3d00; }

.color-md-deep-orange-a700 {
  color: #dd2c00; }

.bg-md-deep-orange-a700 {
  background-color: #dd2c00; }

.border-md-deep-orange-a700 {
  border-color: #dd2c00; }

.color-md-brown {
  color: #795548; }

.bg-md-brown {
  background-color: #795548; }

.border-md-brown {
  border-color: #795548; }

.color-md-brown-50 {
  color: #efebe9; }

.bg-md-brown-50 {
  background-color: #efebe9; }

.border-md-brown-50 {
  border-color: #efebe9; }

.color-md-brown-100 {
  color: #d7ccc8; }

.bg-md-brown-100 {
  background-color: #d7ccc8; }

.border-md-brown-100 {
  border-color: #d7ccc8; }

.color-md-brown-200 {
  color: #bcaaa4; }

.bg-md-brown-200 {
  background-color: #bcaaa4; }

.border-md-brown-200 {
  border-color: #bcaaa4; }

.color-md-brown-300 {
  color: #a1887f; }

.bg-md-brown-300 {
  background-color: #a1887f; }

.border-md-brown-300 {
  border-color: #a1887f; }

.color-md-brown-400 {
  color: #8d6e63; }

.bg-md-brown-400 {
  background-color: #8d6e63; }

.border-md-brown-400 {
  border-color: #8d6e63; }

.color-md-brown-500 {
  color: #795548; }

.bg-md-brown-500 {
  background-color: #795548; }

.border-md-brown-500 {
  border-color: #795548; }

.color-md-brown-600 {
  color: #6d4c41; }

.bg-md-brown-600 {
  background-color: #6d4c41; }

.border-md-brown-600 {
  border-color: #6d4c41; }

.color-md-brown-700 {
  color: #5d4037; }

.bg-md-brown-700 {
  background-color: #5d4037; }

.border-md-brown-700 {
  border-color: #5d4037; }

.color-md-brown-800 {
  color: #4e342e; }

.bg-md-brown-800 {
  background-color: #4e342e; }

.border-md-brown-800 {
  border-color: #4e342e; }

.color-md-brown-900 {
  color: #3e2723; }

.bg-md-brown-900 {
  background-color: #3e2723; }

.border-md-brown-900 {
  border-color: #3e2723; }

.color-md-grey {
  color: #9e9e9e; }

.bg-md-grey {
  background-color: #9e9e9e; }

.border-md-grey {
  border-color: #9e9e9e; }

.color-md-grey-50 {
  color: #fafafa; }

.bg-md-grey-50 {
  background-color: #fafafa; }

.border-md-grey-50 {
  border-color: #fafafa; }

.color-md-grey-100 {
  color: #f5f5f5; }

.bg-md-grey-100 {
  background-color: #f5f5f5; }

.border-md-grey-100 {
  border-color: #f5f5f5; }

.color-md-grey-200 {
  color: #eeeeee; }

.bg-md-grey-200 {
  background-color: #eeeeee; }

.border-md-grey-200 {
  border-color: #eeeeee; }

.color-md-grey-300 {
  color: #e0e0e0; }

.bg-md-grey-300 {
  background-color: #e0e0e0; }

.border-md-grey-300 {
  border-color: #e0e0e0; }

.color-md-grey-400 {
  color: #bdbdbd; }

.bg-md-grey-400 {
  background-color: #bdbdbd; }

.border-md-grey-400 {
  border-color: #bdbdbd; }

.color-md-grey-500 {
  color: #9e9e9e; }

.bg-md-grey-500 {
  background-color: #9e9e9e; }

.border-md-grey-500 {
  border-color: #9e9e9e; }

.color-md-grey-600 {
  color: #757575; }

.bg-md-grey-600 {
  background-color: #757575; }

.border-md-grey-600 {
  border-color: #757575; }

.color-md-grey-700 {
  color: #616161; }

.bg-md-grey-700 {
  background-color: #616161; }

.border-md-grey-700 {
  border-color: #616161; }

.color-md-grey-800 {
  color: #424242; }

.bg-md-grey-800 {
  background-color: #424242; }

.border-md-grey-800 {
  border-color: #424242; }

.color-md-grey-900 {
  color: #212121; }

.bg-md-grey-900 {
  background-color: #212121; }

.border-md-grey-900 {
  border-color: #212121; }

.color-md-blue-grey {
  color: #607d8b; }

.bg-md-blue-grey {
  background-color: #607d8b; }

.border-md-blue-grey {
  border-color: #607d8b; }

.color-md-blue-grey-50 {
  color: #eceff1; }

.bg-md-blue-grey-50 {
  background-color: #eceff1; }

.border-md-blue-grey-50 {
  border-color: #eceff1; }

.color-md-blue-grey-100 {
  color: #cfd8dc; }

.bg-md-blue-grey-100 {
  background-color: #cfd8dc; }

.border-md-blue-grey-100 {
  border-color: #cfd8dc; }

.color-md-blue-grey-200 {
  color: #b0bec5; }

.bg-md-blue-grey-200 {
  background-color: #b0bec5; }

.border-md-blue-grey-200 {
  border-color: #b0bec5; }

.color-md-blue-grey-300 {
  color: #90a4ae; }

.bg-md-blue-grey-300 {
  background-color: #90a4ae; }

.border-md-blue-grey-300 {
  border-color: #90a4ae; }

.color-md-blue-grey-400 {
  color: #78909c; }

.bg-md-blue-grey-400 {
  background-color: #78909c; }

.border-md-blue-grey-400 {
  border-color: #78909c; }

.color-md-blue-grey-500 {
  color: #607d8b; }

.bg-md-blue-grey-500 {
  background-color: #607d8b; }

.border-md-blue-grey-500 {
  border-color: #607d8b; }

.color-md-blue-grey-600 {
  color: #546e7a; }

.bg-md-blue-grey-600 {
  background-color: #546e7a; }

.border-md-blue-grey-600 {
  border-color: #546e7a; }

.color-md-blue-grey-700 {
  color: #455a64; }

.bg-md-blue-grey-700 {
  background-color: #455a64; }

.border-md-blue-grey-700 {
  border-color: #455a64; }

.color-md-blue-grey-800 {
  color: #37474f; }

.bg-md-blue-grey-800 {
  background-color: #37474f; }

.border-md-blue-grey-800 {
  border-color: #37474f; }

.color-md-blue-grey-900 {
  color: #263238; }

.bg-md-blue-grey-900 {
  background-color: #263238; }

.border-md-blue-grey-900 {
  border-color: #263238; }

.color-md-black {
  color: #000; }

.bg-md-black {
  background-color: #000; }

.border-md-black {
  border-color: #000; }

.color-md-white {
  color: #fff; }

.bg-md-white {
  background-color: #fff; }

.border-md-white {
  border-color: #fff; }

.br0 {
  border-radius: 0px; }

.br1 {
  border-radius: 1px; }

.br2 {
  border-radius: 2px; }

.br3 {
  border-radius: 3px; }

.br4 {
  border-radius: 4px; }

.br5 {
  border-radius: 5px; }

.br6 {
  border-radius: 6px; }

.br7 {
  border-radius: 7px; }

.br8 {
  border-radius: 8px; }

.fs8 {
  font-size: 8px; }

.fs9 {
  font-size: 9px; }

.fs10 {
  font-size: 10px; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fs16 {
  font-size: 16px; }

.fs17 {
  font-size: 17px; }

.fs18 {
  font-size: 18px; }

.fs19 {
  font-size: 19px; }

.fs20 {
  font-size: 20px; }

.fs21 {
  font-size: 21px; }

.fs22 {
  font-size: 22px; }

.fs23 {
  font-size: 23px; }

.fs24 {
  font-size: 24px; }

.fsem1 {
  font-size: 0.1em; }

.fsem2 {
  font-size: 0.2em; }

.fsem3 {
  font-size: 0.3em; }

.fsem4 {
  font-size: 0.4em; }

.fsem5 {
  font-size: 0.5em; }

.fsem6 {
  font-size: 0.6em; }

.fsem7 {
  font-size: 0.7em; }

.fsem8 {
  font-size: 0.8em; }

.fsem9 {
  font-size: 0.9em; }

.fsem10 {
  font-size: 1em; }

.fsem11 {
  font-size: 1.1em; }

.fsem12 {
  font-size: 1.2em; }

.fsem13 {
  font-size: 1.3em; }

.fsem14 {
  font-size: 1.4em; }

.fsem15 {
  font-size: 1.5em; }

.fsem16 {
  font-size: 1.6em; }

.fsem17 {
  font-size: 1.7em; }

.fsem18 {
  font-size: 1.8em; }

.fsem19 {
  font-size: 1.9em; }

.fsem20 {
  font-size: 2em; }

.fsem21 {
  font-size: 2.1em; }

.fsem22 {
  font-size: 2.2em; }

.fsem23 {
  font-size: 2.3em; }

.fsem24 {
  font-size: 2.4em; }

.fsem25 {
  font-size: 2.5em; }

.fsem26 {
  font-size: 2.6em; }

.fsem27 {
  font-size: 2.7em; }

.fsem28 {
  font-size: 2.8em; }

.fsem29 {
  font-size: 2.9em; }

.fsem30 {
  font-size: 3em; }

.fsem31 {
  font-size: 3.1em; }

.fsem32 {
  font-size: 3.2em; }

.fsem33 {
  font-size: 3.3em; }

.fsem34 {
  font-size: 3.4em; }

.fsem35 {
  font-size: 3.5em; }

.fsem36 {
  font-size: 3.6em; }

.fsem37 {
  font-size: 3.7em; }

.fsem38 {
  font-size: 3.8em; }

.fsem39 {
  font-size: 3.9em; }

.fsem40 {
  font-size: 4em; }

.icon-0 {
  width: 0px;
  height: auto; }

.icon-8 {
  width: 8px;
  height: auto; }

.icon-16 {
  width: 16px;
  height: auto; }

.icon-24 {
  width: 24px;
  height: auto; }

.icon-32 {
  width: 32px;
  height: auto; }

.icon-40 {
  width: 40px;
  height: auto; }

.icon-48 {
  width: 48px;
  height: auto; }

.icon-56 {
  width: 56px;
  height: auto; }

.icon-64 {
  width: 64px;
  height: auto; }

.icon-72 {
  width: 72px;
  height: auto; }

.icon-80 {
  width: 80px;
  height: auto; }

.icon-88 {
  width: 88px;
  height: auto; }

.icon-96 {
  width: 96px;
  height: auto; }

.icon-104 {
  width: 104px;
  height: auto; }

.icon-112 {
  width: 112px;
  height: auto; }

.icon-120 {
  width: 120px;
  height: auto; }

.icon-128 {
  width: 128px;
  height: auto; }

.anim-delay-0 {
  animation-delay: 0ms; }

.anim-delay-100 {
  animation-delay: 100ms; }

.anim-delay-200 {
  animation-delay: 200ms; }

.anim-delay-300 {
  animation-delay: 300ms; }

.anim-delay-400 {
  animation-delay: 400ms; }

.anim-delay-500 {
  animation-delay: 500ms; }

.anim-delay-600 {
  animation-delay: 600ms; }

.anim-delay-700 {
  animation-delay: 700ms; }

.anim-delay-800 {
  animation-delay: 800ms; }

.anim-delay-900 {
  animation-delay: 900ms; }

.anim-delay-1000 {
  animation-delay: 1000ms; }

.anim-delay-1100 {
  animation-delay: 1100ms; }

.anim-delay-1200 {
  animation-delay: 1200ms; }

.anim-delay-1300 {
  animation-delay: 1300ms; }

.anim-delay-1400 {
  animation-delay: 1400ms; }

.anim-delay-1500 {
  animation-delay: 1500ms; }

.anim-delay-1600 {
  animation-delay: 1600ms; }

.anim-delay-1700 {
  animation-delay: 1700ms; }

.anim-delay-1800 {
  animation-delay: 1800ms; }

.anim-delay-1900 {
  animation-delay: 1900ms; }

.anim-delay-2000 {
  animation-delay: 2000ms; }

.anim-infinite {
  animation-iteration-count: infinite; }

.word-break {
  word-break: break-all; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.debug {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em; }
  .debug.r90 {
    transform: rotate(90deg);
    transform-origin: top left;
    top: 0px;
    left: 1920px; }
  .debug.r270 {
    transform: rotate(270deg);
    transform-origin: top left;
    top: 1080px; }

.slots {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden; }

.slot {
  position: fixed;
  overflow: hidden; }
  .slot.r0, .slot.r180 {
    width: 1920px;
    height: 1080px; }
  .slot.r90 {
    width: 1080px;
    height: 1920px;
    transform: rotate(90deg);
    transform-origin: top left;
    top: 0px;
    left: 1920px; }
  .slot.r270 {
    width: 1080px;
    height: 1920px;
    transform: rotate(270deg);
    transform-origin: top left;
    top: 1080px; }

.util-page {
  width: 1080px;
  height: 1920px;
  color: white;
  position: fixed;
  overflow: hidden;
  font: menu; }
  .util-page.wifi {
    background: url("/images/wifi.jpg"); }
  .util-page.register {
    background: url("/images/register.jpg"); }
  .util-page.error {
    background: url("/images/error.jpg"); }
  .util-page.loading {
    background: url("/images/loading.jpg"); }
  .util-page.r0 {
    transform: rotate(0deg);
    transform-origin: top left;
    top: 0px;
    left: 0px; }
  .util-page.r90 {
    transform: rotate(90deg);
    transform-origin: top left;
    top: 0px;
    left: 1920px; }
  .util-page.r270 {
    transform: rotate(270deg);
    transform-origin: top left;
    top: 1080px;
    left: 0px; }
  .util-page .wifi {
    text-align: center; }
    .util-page .wifi .l1 {
      margin-top: 1030px;
      font-weight: lighter;
      font-size: 35px; }
    .util-page .wifi .l2 {
      margin-top: 15px;
      font-weight: lighter;
      font-size: 50px; }
    .util-page .wifi .l3 {
      margin-top: 10px;
      font-weight: lighter;
      font-size: 50px; }
  .util-page .register {
    text-align: center; }
    .util-page .register .l1 {
      margin-top: 1030px;
      font-weight: lighter;
      font-size: 35px; }
    .util-page .register .l2 {
      margin-top: 15px;
      font-weight: lighter;
      font-size: 50px; }
  .util-page .error {
    text-align: center; }
    .util-page .error .l1 {
      margin-top: 1030px;
      font-weight: lighter;
      font-size: 45px; }
    .util-page .error .l2 {
      margin-top: 15px;
      font-weight: lighter;
      font-size: 35px; }
    .util-page .error .l3 {
      margin-top: 50px;
      font-weight: lighter;
      font-size: 20px; }
  .util-page .loading {
    text-align: center; }
    .util-page .loading .img {
      background: url("/images/loading.gif") center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 70px;
      height: 60px;
      margin: auto;
      margin-top: 850px; }
    .util-page .loading .l1 {
      margin-top: 40px;
      font-weight: lighter;
      font-size: 30px; }
    .util-page .loading .l2 {
      margin-top: 15px;
      font-weight: lighter;
      font-size: 35px; }
    .util-page .loading .l3 {
      margin-top: 50px;
      font-weight: lighter;
      font-size: 20px; }
