<!-- <div class="error-page">
    <div class="infos r{{settings._rotation}}" ng-show="settings._rotation">
        <div class="title">
            Box not registered!
        </div>
        <div class="code">
            <span ng-if="mac"></span>
            <span ng-if="!mac">No MAC address sent</span>
        </div>
        <div class="description">
            <small><i>Please register the box</i></small><br>
        </div>
    </div>
</div> -->

<div class="util-page register r{{settings._rotation}}" ng-show="{{typeof(settings._rotation) != 'undefined'}}">
    <div class="register">
        <div class="l1">Go to your dedicated website,<br>and register the box using this code:</div>
        <div class="l2" ng-if="mac">{{mac | uppercase}}</div>
        <div class="l2" ng-if="!mac">No MAC address sent...</div>
    </div>
</div>